body {
    font-family: 'Poppins';
    overflow: hidden; /* Hide scrollbars */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */

body::-webkit-scrollbar {
    display: none;
}

.poppins {
    font-family: 'Poppins';
    font-size: 22px;
}

.footer {
    background-color: white;
}

/* Loading */

.load {
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load div {
    width: 25px;
    height: 25px;
    background-color: lightgreen;
    margin-left: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: calc(50px - 12.5px);
    animation-name: loading;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.load-two {
    animation-delay: 0.4s;
}

.load-three {
    animation-delay: 0.8s;
}

@keyframes loading {
    to {
        opacity: 0.3;
        transform: translateY(-25px);
        -webkit-transform: translateY(-25px);
        -moz-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
        -o-transform: translateY(-25px);
    }
}